
@font-face {
  font-family: 'VT323';
  src: url('../fonts/VT323-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/VT323-Regular.woff') format('woff'), url('../fonts/VT323-Regular.ttf')  format('truetype'), url('../fonts/VT323-Regular.svg#VT323-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Pxlxxl';
  src: url('../fonts/pxlxxl.eot?#iefix') format('embedded-opentype'),  url('../fonts/pxlxxl.woff') format('woff'), url('../fonts/pxlxxl.ttf')  format('truetype'), url('../fonts/pxlxxl.svg#pxlxxl') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelFlag';
  src: url('../fonts/PixelFlag.eot?#iefix') format('embedded-opentype'),  url('../fonts/PixelFlag.woff') format('woff'), url('../fonts/PixelFlag.ttf')  format('truetype'), url('../fonts/PixelFlag.svg#PixelFlag') format('svg');
  font-weight: normal;
  font-style: normal;
}



body { 
  font-family: 'VT323', 'Courier New', monospace;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'PixelFlag', Monaco, 'Lucida Console', monospace;
  font-size: 2em;
}

h3 {
  font-family: 'Pxlxxl', Consolas, 'Andale Mono', monospace;
  font-size: 1.5em;
}

section {
  margin: 0px;
  padding: 35px;
}

section.main { 
  background-color: #effcb9;
  color: black;
}

section.steps {
  background-color: #f8bbb1; 
  color: black;
  font-size: 0.8em;
}

section.steps span.label {
  margin-bottom: 10px;
}

section.mentors {
  background-color: yellow;
  color: black;
}

.brief {
  -word-color: #e04f60 #000000 #e04f60 #000000 #e04f60 #000000 #e04f60 #000000 #e04f60;
}

.img-circular{
 width: 200px;
 height: 200px;
 background-size: cover;
 display: block;
 border-top-left-radius: 100px;
 -webkit-border-top-left-radius: 100px;
 -moz-border-top-left-radius: 100px;
 border-top-right-radius: 100px;
 -webkit-border-top-right-radius: 100px;
 -moz-border-top-right-radius: 100px;
 border-bottom-right-radius: 100px;
 -webkit-border-bottom-right-radius: 100px;
 -moz-border-bottom-right-radius: 100px;
 border-bottom-left-radius: 100px;
 -webkit-border-bottom-left-radius: 100px;
 -moz-border-bottom-left-radius: 100px;
}