body { 
  margin: 0;
  padding: 0;
}

section {
  margin: 0px;
  padding: 35px;
}

section.main { 
  background-color: purple;
  color: white;
}

section.steps {
  background-color: blue; 
  color: white;
}

section.steps span.label {
  margin-bottom: 10px;
}

section.mentors {
  background-color: yellow;
  color: black;
}


.img-circular{
 width: 200px;
 height: 200px;
 background-size: cover;
 display: block;
 border-top-left-radius: 100px;
 -webkit-border-top-left-radius: 100px;
 -moz-border-top-left-radius: 100px;
 border-top-right-radius: 100px;
 -webkit-border-top-right-radius: 100px;
 -moz-border-top-right-radius: 100px;
 border-bottom-right-radius: 100px;
 -webkit-border-bottom-right-radius: 100px;
 -moz-border-bottom-right-radius: 100px;
 border-bottom-left-radius: 100px;
 -webkit-border-bottom-left-radius: 100px;
 -moz-border-bottom-left-radius: 100px;
}